<div class="body">
    <div class="Ingreso">
        <form (ngSubmit)="ingresar()">
            <img src="../../../assets/img/viajar.png" width="50%">
        <h1>Bienvenido a tu planeador de Viajes !!</h1>
        <mat-form-field class="ancho">
            <mat-label>Digita tu lugar de destino</mat-label>
            <input matInput  autocomplete="off">
          </mat-form-field>
            <br>
            <button type="submit" mat-raised-button color="primary">Ingresar</button>
        </form>
        
    </div>
</div>